*{
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    background-color: black;
}
.Project{
    margin-left: 30px;
    margin-right: 30px;
    display: right;
}
.merokok{
    border-radius: 8px;
    width: 500px;
    height: 200px;
}
h1{
    text-align: center;
    color: brown;
    transition: .5s ease;
    transform: scale(1.1);
}
h1:hover{
    transition: .5s ease;
    transform: scale(1.1);
    color: rgb(170, 118, 68);
}
h3{
    margin-top: 20px;
    color: brown;
}
ul{
    font-size: 18px;
    color: white;
    justify-content: center;
}
